<label>Date and Time you first noticed this bug*</label>
<br>
<div>
<input type="date">
</div>
<br>
<div>
    <input type="time">
    </div>

    <br>
    <label>Impact</label>
    <div class="input-name">
        
        <select name="drop-down">
            <option value="Low">Low</option>
            <option value="High">High</option>
        </select>
        

    </div>
    <br>

    <label>Detailed explanation of bug*</label>
    <div class="input-name">
        <br>
        <textarea cols="30" rows="5" ></textarea>
        
</div>
    <br>
